<div class="music-container">
  <h2 class="music-title">🎧 Reproductor de Música 🎧</h2>

  <!-- Reproductor de música -->
  <div class="music-player">
    <!-- Carátula -->
    <div class="album-cover">
      <img
        src="icons/icon-96-96.png"
        alt="Carátula del álbum"
        class="album-image"
      />
    </div>

    <!-- Información de la canción -->
    <div class="song-info">
      <h3 class="song-title">{{currentSong[0]?.title || 'Título de la canción'}}</h3>
      <p class="song-artist">{{currentSong[0]?.artist || 'Unknow'}}</p>
    </div>

    <!-- Barra de progreso -->
    <div class="progress-container">
      <span class="current-time">{{ formatTime(currentSong[0]?.position_seconds) || '0:00' }}</span>
      <input
        type="range"
        class="progress-bar"
        min="0"
        [max]="currentSong[0]?.duration_seconds || 0"
        [value]="currentSong[0]?.position_seconds || 0"
        (input)="seekTo($event)"
      />
      <span class="total-time">{{ formatTime(currentSong[0]?.duration_seconds) || '0:00' }}</span>
    </div>

    <!-- Controles -->
    <div class="controls">
      <!-- Botón Anterior -->
      <button class="control-btn previous" (click)="previousTrack()">
        <img src="assets/prev.svg" alt="Anterior" class="control-icon" height="38"/>
      </button>

      <!-- Botón Play/Pause -->
      <button class="control-btn play-pause" (click)="togglePlayPause()">
        <img src="assets/play.svg" alt="Play/Pause" class="control-icon" height="38" />
      </button>

      <!-- Botón Siguiente -->
      <button class="control-btn next" (click)="nextTrack()">
        <img src="assets/next.svg" alt="Siguiente" class="control-icon" height="38" />
      </button>
    </div>
  </div>
</div>
